@import '../../paleta-colores.scss';

.bg-footer {
    background-color: $dark-accent;
}

.bg-footer-accent {
    background-color: $light-accent;
}

.footer-text {
    color: $dark-text;
}

.footer-text-accent {
    color: $dark-accent-text;
}

.change-mouse {
    cursor: pointer;
}