<div class="container-fluid">
    <div class="row bg-footer justify-content-center text-center py-4">
        <div class="col-md-3 col-3">
            <fa-icon class="change-mouse icon-twitter" [icon]="twitterIcon()" size="4x" (click)="twitterRedirect()"></fa-icon>
        </div>
        <div class="col-md-3 col-3">
            <fa-icon class="change-mouse icon-instagram" [icon]="instagramIcon()" size="4x" (click)="instagramRedirect()"></fa-icon>
        </div>
        <div class="col-md-3 col-3">
            <fa-icon class="change-mouse icon-github" [icon]="githubIcon()" size="4x" (click)="githubRedirect()"></fa-icon>
        </div>
        <div class="col-md-3 col-3">
            <fa-icon class="change-mouse icon-linkedin" [icon]="linkedinIcon()" size="4x" (click)="linkedinRedirect()"></fa-icon>
        </div>
    </div>
    <div class="row bg-footer-accent py-4">
        <div class="col-12 text-center">
            <div><span class="footer-text">© {{ today | date: 'yyyy' }} Copyright </span><span class="footer-text-accent">Iván García Ballesteros y Carlos Uncio Veyrat</span></div>
        </div>
    </div>
</div>