<nav class="navbar fixed-top navbar-expand-lg elevation" [class.bg-dark]="global.darkMode" [class.navbar-dark]="global.darkMode" [class.bg-light]="!global.darkMode" [class.navbar-light]="!global.darkMode">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuestros trabajos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [class.bg-light]="!global.darkMode" [class.dropdown-menu-light]="!global.darkMode" [class.bg-dark]="global.darkMode" [class.dropdown-menu-dark]="global.darkMode">
          <a class="dropdown-item" href="#" [routerLink]="['nuestros-trabajos/video']" [class.dropdown-item-light]="!global.darkMode" [class.dropdown-item-dark]="global.darkMode">Video</a>
          <a class="dropdown-item" href="#" [routerLink]="['nuestros-trabajos/audio']" [class.dropdown-item-light]="!global.darkMode" [class.dropdown-item-dark]="global.darkMode">Audio</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['contacta-con-nosotros']">Contacta con nosotros</a>
        </li>
        <li class="nav-item my-auto">
          <mat-slide-toggle [(ngModel)]="global.darkMode" (change)="onChangeMode($event)">
            <fa-icon [icon]="getIconMode()" size="lg" class="my-auto ml-2" [class.dark-icon]="global.darkMode" [class.light-icon]="!global.darkMode"></fa-icon>
          </mat-slide-toggle>
        </li>
    </ul>
  </div>
</nav>