@import '../../../../paleta-colores.scss';

.dark-button {
    background-color: $dark-accent;
    color: $dark-background;
    &:focus {
        outline: 0px;
    }
}

.light-button {
    background-color: $light-accent;
    color: $light-background;
    &:focus {
        outline: 0px;
    }
}

.slider-volume-dark ::ng-deep {
    .mat-slider-thumb {
        background-color: $dark-accent;
    }
    .mat-slider-track-background {
        background-color: $dark-text;
    }
    .mat-slider-track-fill {
        background-color: $dark-accent;
    }
    .mat-slider-thumb-label {
        background-color: $dark-accent;
    }
    .mat-slider-thumb-label-text {
        color: $dark-background;
    }
}

.slider-volume-light ::ng-deep {
    .mat-slider-thumb {
        background-color: $light-accent;
    }
    .mat-slider-track-background {
        background-color: $light-text;
    }
    .mat-slider-track-fill {
        background-color: $light-accent;
    }
    .mat-slider-thumb-label {
        background-color: $light-accent;
    }
    .mat-slider-thumb-label-text {
        color: $light-background;
    }
}
  
.mat-slider-horizontal {
    width: 50%;
}

.mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: rgba(white, 0.0) !important;
}

.volume-icon-dark {
    color: $light-background;
}

.volume-icon-light {
    color: $dark-background;
}

.container-buttons {
    height: 35px;
    display: inline-flex;
}

.top-volume {
    top: -4px;
}