<div class="row py-5" [class.bg-light-accent]="!global.darkMode" [class.bg-dark-accent]="global.darkMode">
    <div class="col-12 text-center">
        <h1 [class.light-accent-color]="!global.darkMode" [class.dark-accent-color]="global.darkMode">Contacta con nosotros</h1>
    </div>
</div>
<div class="row justify-content-center py-5" [class.bg-light]="!global.darkMode" [class.bg-dark]="global.darkMode">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <form [formGroup]="form">
            <mat-form-field class="w-100" appearance="outline" [class.light-select]="!global.darkMode" [class.dark-select]="global.darkMode">
                <mat-label>Nombre</mat-label>
                <input matInput [class.text-light]="!global.darkMode" [class.text-dark]="global.darkMode" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline" [class.light-select]="!global.darkMode" [class.dark-select]="global.darkMode">
                <mat-label>Apellidos</mat-label>
                <input matInput [class.text-light]="!global.darkMode" [class.text-dark]="global.darkMode" formControlName="apellidos">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline" [class.light-select]="!global.darkMode" [class.dark-select]="global.darkMode">
                <mat-label>Telefono</mat-label>
                <input matInput [class.text-light]="!global.darkMode" [class.text-dark]="global.darkMode" formControlName="telefono" required>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline" [class.light-select]="!global.darkMode" [class.dark-select]="global.darkMode">
                <mat-label>Correo Electronico</mat-label>
                <input matInput [class.text-light]="!global.darkMode" [class.text-dark]="global.darkMode" formControlName="correoElectronico" required>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline" [class.light-select]="!global.darkMode" [class.dark-select]="global.darkMode">
                <mat-label>Deja tu comentario</mat-label>
                <textarea matInput [class.text-light]="!global.darkMode" [class.text-dark]="global.darkMode" formControlName="comentario"></textarea>
            </mat-form-field>
            <button mat-raised-button [class.light-button]="!global.darkMode" [class.dark-button]="global.darkMode" (click)="submit()">Enviar Formulario</button>
        </form>
    </div>
</div>
<div id="map-open-layers" class="map-open-layers">
</div>