$light-background: #ffffff;
$light-accent-background: #f4f6f8;
$light-accent-text: #263238;
$light-text: #546e7a;
$light-accent: #5850EC;

$dark-background: #282C34;
$dark-accent-background: #1c2025;
$dark-accent-text: #e6e5e8;
$dark-text: #adb0bb;
$dark-accent: #8a85ff;


.bg-light {
    background-color: #ffffff;
}

.bg-dark {
    background-color: #282C34 !important;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $light-text;
      &:hover,
      &:focus {
        color: $light-accent-text;
      }
    }
    .nav-item.active {
      .nav-link {
        color:$light-accent-text;
      }
    }
  }
  .navbar-toggler {
    color: $light-text;
    border-color: $light-accent-text;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $dark-text;
      &:hover,
      &:focus {
        color: $dark-accent-text;
      }
    }
    .nav-item.active {
      .nav-link {
        color:$dark-accent-text;
      }
    }
  }
  .navbar-toggler {
    color: $dark-text;
    border-color: $dark-accent-text;
  }
}

.dark-icon {
  color: $dark-accent-text;
}

.light-icon {
  color: $light-accent-text;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $light-accent !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $dark-accent !important;
}
